<aside id="profile">
  <div class="inner profile-inner">
    <div class="base-info profile-block">
      <h2 id="name"><%= config.author %></h2>
      <h3 id="title"><%= config.author_title %></h3>
      <span id="location"><i class="fa fa-map-marker"></i><%= config.location %></span>
      <a id="follow" href="<%= config.follow %>"><%= __('profile.follow') %></a>
    </div>

    <% if(theme.contacts) { %>
    <div class="contact-info profile-block">
      <table class="contact-list">
        <tr>
          <% for(var i in theme.contacts) { %>
          <td><a href="<%- url_for(theme.contacts[i]) %>" target="_blank" title="<%= i %>"><i class="fa fa-<%= i %>"></i></a></td>
          <% } %>
        </tr>
      </table>
    </div>
    <% } %>

    <div class="base-info profile-block">
        <a href="http://aspnetmonsters.com" target="_blank"><img src="/content/monster-james.png"></a>      
    </div>

    <div class="base-info profile-block">
        <a href="https://leanpub.com/bootstrappingmvc" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'https://leanpub.com/bootstrappingmvc', '\n\n']);">
            <img src="https://s3.amazonaws.com/titlepages.leanpub.com/bootstrappingmvc/medium?1425560219" scale="0">
        </a>
    </div>
        
    <% if(theme.about) { %>
    <div class="article-info profile-block bio">
      <h2>About</h2>
      <p><%- theme.about %></p>
    </div>
    <% } %>
  </div>
</aside>
